fastapi
uvicorn
python-dotenv
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
boto3
botocore
aioboto3
aiobotocore
pytest==7.4.3
httpx==0.25.2
email-validator==2.1.0.post1 